* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: 1px solid black;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
}

.masonry {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(14, 1fr);
}
